/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

body {
	margin: 0;
	font-family: 'Spectral', serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.text-align-justify {
	text-align: justify;
}
.generic-color {
	color: #15ca20;
}
.generic-bg-color {
	background-color: #15ca20 !important;
}
